@font-face {
  font-family: "Coldiac";
  src: url("fonts/Coldiac.ttf") format("truetype");
}
@font-face {
  font-family: "Nord-Bold";
  src: url("fonts/Nord-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GreatVibes";
  src: url("fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Vesta-Serif";
  src: url("fonts/Solar\ Vesta\ Serif.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url("fonts/HelveticaNeue.otf") format("truetype");
}
:root {
  --dark: #333333;
  --light: #d5cdc4;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-image: url("images/a3.jpg");
  background-size: cover;
  background-position: center 400px;
  z-index: -1;
}
.menu {
  font-family: "GreatVibes";
  padding: 0% 5%;
  text-align: left;
  color: transparent;
  font-size: 38px;
  letter-spacing: 0.1em;
  position: fixed;
  top: 5%;
  left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.menu-icon,
.menu-popup {
  display: none;
}

.menu-items span {
  font-family: "Helvetica";
  font-size: 0.4em;
  font-weight: 200;
  padding-left: 50px;
  transition: color 0.3s, font-weight 0.3s;
}

.menu-items span:hover {
  font-weight: 500;
  color: rgb(162, 118, 46);
}

.menu-items a,
.menu a {
  text-decoration: none;
  color: black;
}

.menu:hover {
  cursor: pointer;
}

.heading-text {
  font-family: "Coldiac";
  padding-left: 10%;
  text-align: left;
  font-size: 15px;
  width: 90%;
  z-index: 2;
  margin-top: 10%;
}
.pc-hidden {
  display: none;
}

.heading-text h1 {
  font-size: 5em;
}

.heading-text span {
  font-family: "Helvetica";
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.15em;
  margin-left: 30%;
}
.heading-text a {
  text-decoration: none;
  color: black;
}

.heading-text a:hover {
  color: rgb(186, 135, 5);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-left: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.client-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-item span {
  font-family: "Helvetica";
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  text-align: center;
}

.client-item img {
  max-width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto 10px;
}

.heading-text p {
  padding-left: 25%;
  width: 55%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: "Helvetica";
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0.11em;
  line-height: 1.6;
  text-align: justify;
}

.row {
  display: flex;
  width: 80%;
  max-height: 50%;
  margin: auto;
  margin-top: 6%;
}
.book-time {
  text-align: center;
  margin-left: 11%;
  width: 78%;
  font-size: 1.3em;
  color: rgb(51, 51, 51);
  background-color: rgb(180, 180, 180);
  margin-bottom: 5%;
  border-radius: 10px;
  border: 2px solid rgb(51, 51, 51);
}
.book-arrow {
  font-size: 2.5em;
}

.calendly-inline-widget {
  flex: 1;
}
.question-form {
  flex: 1;
  margin-left: 70px;
}

.question-form form {
  font-family: "Helvetica";
  font-weight: 200;
  max-width: 100%;
  margin: auto;
}

.question-form label {
  display: block;
  margin-bottom: -10px;
}

.question-form input[type="text"],
.question-form input[type="email"],
.question-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.question-form textarea {
  resize: vertical;
}

.contact-footer {
  display: none;
  font-family: "Coldiac";
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: 900;
  padding: 3%;
  background-color: white;
  top: 10%;
}

.contact-footer a:hover {
  color: #8e8e8e;
}
.question-form input[type="submit"] {
  background-color: rgb(180, 180, 180);
  color: rgb(51, 51, 51);
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: 1.1em;
  padding: 10px 40px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 4px;
  cursor: pointer;
}

.question-form input[type="submit"]:hover {
  background-color: white;
  color: rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
}

.row-work {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 70%;
}

.work-items {
  width: 300px;
  height: auto;
}

.work-items img {
  width: 300px;
  height: 300px;
  display: block;
  transition: transform 0.5s;
}

.work-items h3 {
  font-family: "Helvetica";
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 0%;
  letter-spacing: 0.1em;
  line-height: 1.5;
  width: 100%;
  padding-left: 0;
}

.work-items img:hover {
  transform: scale(1.05);
}

.footer {
  font-family: "Coldiac";
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: 900;
  padding: 3%;
  background-color: white;
  top: 10%;
}

.sub-footer {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.sub-footer a {
  text-decoration: none;
  color: black;
  transition: color 0.4s;
}

.footer a:hover {
  color: #8e8e8e;
}

@media (orientation: portrait) {
  .mobile-hidden {
    display: none;
  }

  .pc-hidden {
    display: block;
  }

  .background-image {
    height: 30%;
    background-position: center center;
  }
  .text-container {
    display: none !important;
  }
  .first-text-container {
    height: 85vh;
  }

  .row {
    max-height: 110%;
    display: grid;
  }

  .question-form {
    margin-left: 0;
    z-index: 99999;
  }

  .menu {
    font-size: 25px;
    top: 0;
    height: 10%;
    left: 0%;
    z-index: 99999;
  }

  .menu::after {
    content: "";
  }

  .menu-items {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 35px;
    cursor: pointer;
    z-index: 99999;
  }

  .menu-popup {
    display: none;
    font-family: "Helvetica";
    font-size: 0.8em;
    position: absolute;
    top: 25%;
    right: 10%;
    background-color: #fff;
    width: 45%;
    height: 200px;
    padding: 20px;
    z-index: 99998;
  }
  .menu-popup ul {
    list-style-type: none;
  }

  .menu-popup .menu-item {
    margin-bottom: 10px;
    cursor: pointer;
    padding-bottom: 25px;
  }

  .menu-item:hover {
    font-size: 1.1em;
  }

  .row-work {
    display: grid;
    margin-left: 20%;
  }

  .work-items {
    width: 250px;
  }

  .work-items img {
    width: 250px;
    height: 250px;
  }

  .heading-text {
    width: 80%;
    top: 5%;
    padding: 0 10%;
    margin-top: 30%;
  }

  .heading-text span {
    margin-left: 0;
  }

  .heading-text p {
    display: block;
    width: 70%;
    padding-left: 12%;
    font-size: 18px;
    letter-spacing: 0.08em;
  }
  .heading-text h1 {
    font-size: 40px;
  }

  .client-list {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }

  .client-list span {
    text-align: left;
  }
  .sub-footer {
    width: 75%;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer {
    font-size: 20px;
    text-align: left;
    padding: 5%;
  }

  .contact-footer {
    margin-top: 0%;
    display: block;
    font-size: 20px;
    text-align: left;
    padding: 5%;
  }

  .sub-footer a {
    padding: 5% 0;
  }
}
