@font-face {
  font-family: "Coldiac";
  src: url("fonts/Coldiac.ttf") format("truetype");
}
@font-face {
  font-family: "Nord-Bold";
  src: url("fonts/Nord-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Vesta-Script";
  src: url("fonts/Solar\ Vesta\ Script.ttf") format("truetype");
}
@font-face {
  font-family: "Vesta-Serif";
  src: url("fonts/Solar\ Vesta\ Serif.ttf") format("truetype");
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  font-family: "Vesta-Serif";
  padding: 2.5% 5%;
  text-align: left;
  color: transparent;
  font-size: 30px;
  transform: translateY(0);
  transition: transform 3s;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

.menu.sticky {
  color: black;
  position: fixed;
  transform: translateY(-75%);
  z-index: 100;
}

.menu:hover {
  cursor: pointer;
}

.heading-text {
  font-family: "Coldiac";
  padding-left: 10%;
  text-align: left;
  font-size: 15px;
  width: 100%;
  position: fixed;
  top: 17%;
}

.first-text-container {
  font-family: "Vesta-Serif";
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.text-container {
  font-family: "Vesta-Serif";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  mix-blend-mode: screen;
  transition: font-size 0.5s, opacity 1s;
  opacity: 1;
  z-index: 5;
}

.container {
  position: fixed;
  top: 40%;
  width: 80%;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.vertical-part {
  position: relative;
  flex-basis: 25%;
  display: flex;
  align-items: flex-end;
  background-color: white;
  transition: background-color 0.5s;
  filter: brightness(1);
}
.vertical-part.blur {
  filter: blur(5px);
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 90%;
  overflow: hidden;
}

.image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: width 1.5s;
}

.image.image-1 {
  background-image: url("images/01-bb.jpg");
}

.image.image-2 {
  background-image: url("images/022-bb.jpeg");
}

.image.image-3 {
  background-image: url("images/03-bb.jpg");
}

.image.image-4 {
  background-image: url("images/04.jpeg");
}

.text {
  font-family: "Coldiac";
  /* Coldiac
  Nord-Bold*/
  position: absolute;
  right: 25%;
  bottom: 1%;
  transform-origin: bottom right;
  transform: rotate(-90deg) translateX(97%);
  white-space: nowrap;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  z-index: -1;
  width: 95%;
  text-align: left;
  transition: opacity 1s, width 1s, transform 1s;
  opacity: 1;
}

.text a {
  display: none;
}

.text p {
  font-size: 200%;
  font-weight: 600;
}
.text span {
  display: none;
  font-size: 120%;
  font-weight: 100;
}

.number {
  position: absolute;
  font-weight: 700;
  bottom: -3%;
  left: 13%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: white;
}

.vertical-part:hover .number {
  opacity: 0.5;
}

.vertical-part.non-hover {
  opacity: 0.3;
  filter: grayscale(1);
}

.vertical-part.non-hover .number {
  opacity: 0;
}

.vertical-part:hover .image {
  width: 100% !important;
  filter: brightness(0.5);
}

.vertical-part:hover .text {
  color: white;
  left: 20%;
  top: -40%;
  width: 75%;
  opacity: 1;
  z-index: 1;
  text-align: left;
  transform: translate(-10%, -10%) rotate(0deg);
  white-space: normal;
}

/* .vertical-part:hover .text a {
  display: block;
  text-decoration: underline;
  color: white;
  text-align: center;
  padding-top: 30%;
} */

.vertical-part:hover .text span {
  padding-top: 50px;
  display: inline-block;
  border-top: 0.5px solid white;
  line-height: 2;
}

.text-part {
  font-family: "Coldiac";
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
  background-color: rgb(247, 248, 250);
  z-index: 10;
}

.text-part h1 {
  margin: 0;
  font-weight: 900;
  padding-bottom: 2%;
}

.text-part h2 {
  margin: 0;
  color: #626262;
  font-size: 20px;
  font-weight: 100;
}

.text-part a {
  text-decoration: none;
  display: inline-block;
  padding-top: 5%;
  border-bottom: 0.5px solid black;
  color: black;
  font-size: 30px;
}

.luxury-container {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-top: 4%;
  background-image: url(images/w1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.luxury-image {
  position: absolute;
  overflow: hidden;
  background-image: url(images/w2.png);
  background-repeat: no-repeat;
  background-size: 85% auto;
  background-position: center 52.5%;
  min-width: 100%;
  min-height: 100%;
  display: block;
  transition: background-position 0.75s ease-in-out;
}

.project-container-base {
  font-family: "Coldiac";
  position: relative;
  width: 100%;
  padding: 5% 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(235, 235, 235);
  z-index: 10;
}

.project-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.project-parts {
  position: relative;
}

.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 2s;
}

.project-parts:hover .image-wrapper img {
  transform: scale(1);
}

.image-preview {
  position: absolute;
  top: -75%;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: 10px 0 25px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.project-parts:hover .image-preview {
  opacity: 1;
}

.image-preview img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform-origin: top;
  animation: scrollAnimation 10s infinite linear;
  animation-delay: 2s;
  transform-origin: top;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25%);
  }
}

.several-projects-container {
  position: relative;
  width: 100%;
  background-color: rgb(247, 248, 250);
  z-index: 10;
}

.several-projects {
  margin: 0 auto;
  padding: 10% 0;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15%;
  column-gap: 0;
  justify-items: center;
  align-content: center;
}

.several-projects .projects-image {
  width: 80%;
  aspect-ratio: 1/1;
  background-size: cover;
  transition: background-image 0.75s easx 2e-in-out;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  padding: 3%;
  background-color: white;
}

.footer a {
  display: inline-block;
  margin: 0 10%;
  text-decoration: none;
  color: #8e8e8e;
  transition: color 1s;
}

.footer a:hover {
  color: rgb(57, 58, 60);
}

@media (orientation: portrait) {
  .text-container {
    display: none !important;
  }
  .first-text-container {
    height: 60vh;
  }
  .menu {
    font-size: 25px;
    top: 8%;
    left: 5%;
  }

  .heading-text {
    font-size: 10px;
    width: auto;
    top: 10%;
    padding: 0 10%;
  }

  .container {
    position: fixed;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
    top: 22%;
    width: 100vw;
    height: 30vh;
    padding-left: 0;
    flex-wrap: nowrap;
  }

  .vertical-part {
    width: 80%;
    padding-left: 10%;
  }

  .image.image-1 {
    background-image: url("images/m1.jpg");
  }

  .image.image-2 {
    background-image: url("images/m2.jpg");
  }

  .image.image-3 {
    background-image: url("images/m3.jpg");
  }

  .image.image-4 {
    background-image: url("images/m5.jpg");
  }

  .image-container {
    padding-top: 0;
  }

  .image-container .image {
    width: 35%;
  }

  .text {
    /* font-family: "Nord-Bold"; */
    color: black;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 110%;
    text-align: right;
    transform: translate(0, 25%);
    /* text-shadow: 1px 1px 1px white; */
  }

  .text p {
    font-size: 95%;
  }
  .text span {
    display: none;
  }

  .number {
    bottom: -20%;
    left: 10%;
    transform: translateX(0);
    font-size: 40px;
  }

  .vertical-part:hover .text {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 130%;
    text-align: right;
    transform: translate(-25%, 20%);
  }

  .vertical-part:hover .text span {
    display: none;
  }
  .project-container-base h1 {
    font-size: 18px;
  }
  .project-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
  }
  .image-wrapper {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .image-preview {
    top: -150%;
    height: 250%;
    z-index: 200;
  }
  .text-part h1,
  .text-part a {
    font-size: 20px;
  }
  .text-part h2 {
    padding-top: 5%;
    font-size: 15px;
  }
  .luxury-container {
    height: 25vh;
  }
  .text-part {
    height: auto;
  }
  .several-projects-container {
    padding: 20% 0;
  }
  .several-projects {
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    row-gap: 6%;
  }

  .footer {
    padding: 10% 0;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    gap: 20px;
    justify-content: center;
  }

  .footer a {
    display: block;
    margin: 0 15%;
  }
}
